
/ext/*
!/ext/herika_heal
!/ext/time_awareness
!/ext/xLifeLink_plugin
!/ext/generic_installer.php
!/ext/relationship_system
/log
/soundcache
data/CurrentModel_*.json
conf/character_map.json
conf/conf.php
conf/conf_*.php
!conf/conf_loader.php
!conf/conf_schema.php
/data/voices/*
!/data/voices/TheNarrator.wav
*/Zone.Identifier
/data/pictures/gallery/*
!/data/pictures/gallery/.placeholder
