<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
    cacheResult="false"
>

    <testsuites>
        <testsuite name="CHIM Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="PHPUNIT_TEST" value="true" />
    </php>

    <source>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory suffix=".php">***/vendor</directory>
            <directory suffix=".php">tests</directory>
        </exclude>
    </source>

    <!--coverage>
        <report>
            <clover outputFile="cov.xml" />
        </report>
    </coverage-->

</phpunit>