@charset "utf-8";


body > div.container-fluid > div.datatable > table > tbody > tr > td > pre {
	font-size:11px;
}

body
        {
            font-family: 'Times New Roman', Times, serif;
        }

        .Title {
            font-weight: bold;
            font-size: 30px;
            line-height: 1.5;
            text-transform: uppercase;
        }

        .button {
            display: inline-block;
            padding: 5px 5px;
            border: 1px solid #0b0c0d;
            background-color: #448ee3;
            border-radius: 10px;
            text-decoration: none;
            color: #fff;
            text-align: center;
            transition: background-color 0.2s, box-shadow 0.2s;
            font-weight: bold;
        }

        .button:hover {
            color: #fff;
            background-color: #1055a3;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }

        nav {
            font-weight: bold;
            font-size: 20px;
        }

pre.foldable {
display:none
}

p.conf-item {
	display: inline-block;
	min-width:45%;
    font-size: 16px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

p.conf-item label{
	display: block;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

p.conf-item textarea{
	display:block;
	min-width:640px;
	min-height:240px;
}

p.conf-item input {
	display:block;
	min-width:240px;
}

p.conf-item input.url {
	display:inline-block;
	min-width:400px;
}

p.conf-item input.apikey {
	min-width:400px;
}

p.conf-item button.url {
	display:inline-block;
	min-width:50px;
	clear:both;
}

p.conf-item input[type=checkbox] {
	display:inline-block;
	min-width:50px;
}

p.conf-item input[type=radio] {
	display:inline-block;
	min-width:50px;
}

p.conf-item input[type=radio]  + label {
	display:inline-block;
	font-family: unset;
}

p.conf-item span {
	display: block;
	max-width: 400px;
	padding: 3px;
	font-size: 14px;
    font-weight: normal;
	font-family: 'Times New Roman', Times, serif;
}

form.confwizard > fieldset  {
	border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(32,32,32);
}

form.confwizard > fieldset > fieldset {
    border: 1px outset black;
    margin:5px;
	padding:5px;
	
}


form.confwizard > fieldset > legend {
	color:lightblue;
}

form.confwizard > fieldset > fieldset > legend {
	color:goldenrod;
}


body > form > fieldset legend {
		color: orange;
		font-weight: bold;
		text-shadow: 1px 1px 1px black;
}
